services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    restart: unless-stopped
    environment:
      MONGO_URL: mongodb://mongo:27017
      DB_NAME: qse_database
    ports:
      - "8001:8001"
    depends_on:
      - mongo

volumes:
  mongo_data:
